/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import 'https://fonts.googleapis.com/css?family=Asap|Lobster&display=swap';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
  font-family: 'Asap', sans-serif;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.5rem;
}
.container a {
  text-decoration: none;
  color: white;
}
.container h2 {
  font-size: 2rem;
}
.container header {
  background-color: steelblue;
  color: white;
  display: flex;
  flex-direction: column;
}
.container header li {
  padding: 1.2rem 3rem;
}
.container header .logo {
  max-width: 30%;
  margin: 0 auto;
}
.container header .logo img {
  width: 100%;
}
.container footer {
  padding: 1rem;
  background-color: steelblue;
  border: none;
}
.container footer li {
  display: none;
}
@media (min-width: 800px) {
  .container footer {
    color: white;
    display: flex;
    flex-direction: column;
  }
  .container footer li {
    display: initial;
    padding: 1.2rem 3rem;
  }
}
.about {
  padding: 1rem;
  text-align: center;
}
.about h1 {
  font-size: 3rem;
  padding: 1rem 0;
}
.about .slogan {
  font-size: 3rem;
  padding: 1rem 0;
  font-family: 'Lobster', cursive;
}
.about img {
  width: 50%;
}
.about p {
  text-align: initial;
}
.skills .card {
  border: 1px solid gray;
  border-radius: 2px;
  margin: 1rem;
}
.skills .card div {
  height: 100%;
  background-color: gray;
}
.skills .card div h3 {
  padding: 1rem;
}
.skills .card p {
  padding: 1rem;
}
.portfolio .card {
  border: 1px solid gray;
  border-radius: 2px;
  margin: 1rem;
  padding: 1rem;
}
.portfolio .card h3 {
  font-size: 2rem;
  padding: 1rem 0;
}
.portfolio .card .screenshot {
  display: flex;
  justify-content: center;
}
.portfolio .card .screenshot img {
  width: 75%;
  align-self: center;
}
.portfolio .card button {
  background-color: white;
  padding: 1rem;
  border-radius: 2px;
  border: 1px solid gray;
}
.portfolio .card button a {
  color: dimgray;
}
