@import url(reset.less);
@import url('https://fonts.googleapis.com/css?family=Asap|Lobster&display=swap');

@primary-color: steelblue;
@secondary-color: gray;
@highlight-color: dodgerblue;
@primary-font-color: white;
@secondary-font-color: black;
@main-font-family: 'Asap', sans-serif;
@secondary-font-family: 'Lobster', cursive;

html {
  font-size: 62.5%;
  font-family: @main-font-family;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.5rem;
  a {
    text-decoration: none;
    color: @primary-font-color;
  }
  header {
    background-color: @primary-color;
    color: @primary-font-color;
    display: flex;
    flex-direction: row-reverse;
    li {
      display: inline-block;
      padding: 1.2rem;
    }
  }
  .about {
    h1 {
      font-size: 2em;
    }
    h3 {
      font-size: 1;
    }
  }
}
