@import 'reset.less';
@import 'https://fonts.googleapis.com/css?family=Asap|Lobster&display=swap';

// Variables

@primary-color: steelblue;
@secondary-color: gray;
@highlight-color: dodgerblue;
@primary-font-color: white;
@secondary-font-color: dimgray;
@main-font-family: 'Asap', sans-serif;
@secondary-font-family: 'Lobster', cursive;

// Mixins

.font-props(@size, @padding: 1rem 0) {
  font-size: @size;
  padding: @padding;
}

.card-props() {
  border: 1px solid ~'@{secondary-color}';
  border-radius: 2px;
  margin: 1rem;
}

// Main Styles

html {
  font-size: 62.5%;
  font-family: @main-font-family;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.5rem;
  a {
    text-decoration: none;
    color: @primary-font-color;
  }
  h2 {
    font-size: 2rem;
  }
  header {
    background-color: @primary-color;
    color: @primary-font-color;
    display: flex;
    flex-direction: column;
    li {
      padding: 1.2rem 3rem;
    }
    .logo {
      max-width: 30%;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
  }
  footer {
    padding: 1rem;
    background-color: @primary-color;
    border: none;
    li {
      display: none;
    }
    @media (min-width: 800px) {
      color: @primary-font-color;
      display: flex;
      flex-direction: column;
      li {
        display: initial;
        padding: 1.2rem 3rem;
      }
    }
  }
}

.about {
  padding: 1rem;
  text-align: center;
  h1 {
    .font-props(3rem);
  }
  .slogan {
    .font-props(3rem);
    font-family: @secondary-font-family;
  }
  img {
    width: 50%;
  }
  p {
    text-align: initial;
  }
}

.skills {
  .card {
    .card-props();
    div {
      height: 100%;
      background-color: @secondary-color;
      h3 {
        padding: 1rem;
      }
    }
    p {
      padding: 1rem;
    }
  }
}
.portfolio {
  .card {
    .card-props();
    padding: 1rem;
    h3 {
      .font-props(2rem);
    }
    .screenshot {
      display: flex;
      justify-content: center;
      img {
        width: 75%;
        align-self: center;
      }
    }
    button {
      background-color: white;
      padding: 1rem;
      border-radius: 2px;
      border: 1px solid @secondary-color;
      a {
        color: @secondary-font-color;
      }
    }
  }
}
