@import "reset.less";
@import 'https://fonts.googleapis.com/css?family=Asap|Lobster&display=swap';

// Variables

@primary-color: steelblue;
@secondary-color: gray;
@highlight-color: dodgerblue;
@primary-font-color: white;
@secondary-font-color: black;
@main-font-family: 'Asap', sans-serif;
@secondary-font-family: 'Lobster', cursive;

// Mixins

.font-props(@size, @padding: 1rem 0) {
  font-size: @size;
  padding: @padding;
}

html {
  font-size: 62.5%;
  font-family: @main-font-family;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.5rem;
  a {
    text-decoration: none;
    color: @primary-font-color;
  }
  header {
    background-color: @primary-color;
    color: @primary-font-color;
    display: flex;
    flex-direction: column;
    li {
      padding: 1.2rem 3rem;
    }
    .logo {
      max-width: 30%;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
  }
  .about {
    padding: 1rem;
    h1 {
      .font-props(3rem);
    }
    h3 {
      .font-props(2rem);
    }
  }
}
